.edit-content {
  padding: 0 200px 0 200px;
}
.list-name {
  display: flex;
  
  list-style: none;
  width :100%;
}
.list-num {
  border: 1px solid;
  padding: 0 10px 0 10px;
}
.in-or-out {
  border: 1px solid;
  padding: 0 15px 0 15px;
}
.list-category {
  border: 1px solid;
  padding: 0 25px 0 25px;
}
.list-detail {
  padding: 0 190px 0 190px;
  border: 1px solid;
}
.list-balance {
  border: 1px solid;
  padding: 0 30px 0 30px;
}
.list-content {
  margin-left: 15px;
  position: relative;
  display: flex;
  list-style: none;
  
}
.list-content li {
  justify-content: center;
}
.lists-num {
  
  padding-right: 20px;
}
.lists-balance {
 margin-left: 15px;
}
.lists-category {
  padding-right: 35px;
  margin-left: 30px;
}
.lists-detail {
  margin-right:200px;
}
.lists-money {
  position: absolute;
   right: 220px;
}
.amount{
  display: flex;
  float: right;
}
.amount p {
  
  font-size: 27px;
}

.visit-day {
  font-size: 27px;
}

.delete {
  display: block;
  text-decoration: none;
  position: absolute;
  right: 150px;
}

.form-content span {
  color: red;
}