.edit-content {
  padding: 0 200px 0 200px;
  
}
.list-name {
  display: flex;
  
  list-style: none;
  
}
.list-num {
  border: 1px solid;
  padding: 0 10px 0 10px;
  
}
.in-or-out {
  border: 1px solid;
  padding: 0 15px 0 15px;
}
.list-category {
  border: 1px solid;
  padding: 0 25px 0 25px;
}
.list-detail {
  padding: 0 180px 0 180px;
  border: 1px solid;
}
.list-balance {
  border: 1px solid;
  padding: 0 30px 0 30px;
}
.list-content {
  margin-left: 15px;
  position: relative;
  display: flex;
  list-style: none;
  
}
.list-content li {
  justify-content: center;
}
.lists-num {
  
  
  width: 35px;
}
.lists-balance {
 width: 60px;
}
.lists-category {
  width: 50px;
}
.lists-detail {
  margin-right:200px;

  width: px;
}
.lists-money {
  position: absolute;
   right: 220px;
}

.day-amount {
  float:right;
}
.income p {
  font-size: 23px;
}
.spending p {
  font-size: 23px;
.amount 
}
.amount p {
  
  font-size: 30px;
}


.visit-day {
  font-size: 27px;
}

.delete {
  display: block;
  text-decoration: none;
  position: absolute;
  right: 150px;
}

.form-content span {
  color: red;
}
.form {
  display: block;
}