.contents {
  margin-left: 200px;
}

.form-content {
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.text-field {
  margin: 20px 0 20px 0;
  padding: 8px 400px 8px 0;
}
.submit {
  margin: 20px 0 20px 0;
  padding: 8px 200px 8px 200px;
}

.link {
  margin-left: 200px;
}